<nav class=" border-b-4 border-gray-200 top-0 start-0 z-40 fixed w-full">
    <div class="w-full bg-blue-br px-4 py-2.5">
        <div class="container mx-auto ">
            <div class="flex flex-wrap justify-between items-center">
                <div class="flex justify-start items-center">
                    <a href="#" class="flex mr-4">
                        <img src="https://blueos.cloud/assets/img/blueos-logo-white.png"
                             class="mr-3 h-8"
                             alt="BlueOS Logo"/>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Docs</span>
                    </a>
                </div>
                 <div class="flex">
                     <form class="navbar-form flex-grow-1 order-7 order-md-3">
                        <input id="userinput" class="form-control is-search" type="search" placeholder="Search docs..."
                            aria-label="Search docs..." autocomplete="off">
                        <div id="suggestions" class="shadow bg-white rounded absolute p-5"></div>
                    </form>
                </div>
                <div class="flex items-center lg:order-2">
                    <div class="hidden w-full md:block md:w-auto me-10" id="navbar-dropdown">
                        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 text-white">
                            <li>
                                <a href="#"
                                   class="block py-2 px-3 text-white rounded md:p-0"
                                   aria-current="page">About</a>
                            </li>
                            <li>
                                <button id="mega-menu-full-cta-image-button"
                                        data-collapse-toggle="mega-menu-full-image-dropdown"
                                        class="flex items-center justify-between w-full py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">
                                    Docs
                                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="m1 1 4 4 4-4"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <a href="#"
                                   class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0">Bazaar</a>
                            </li>

                            <li>
                                <button id="dropdownNavbarLink"
                                        data-dropdown-toggle="dropdownNavbar"
                                        class="flex items-center justify-between w-full py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">
                                    Community
                                    <svg class="w-2.5 h-2.5 ms-2.5"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="m1 1 4 4 4-4"/>
                                    </svg>
                                </button>
                                <!-- Dropdown menu -->
                                <div id="dropdownNavbar"
                                     class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400"
                                        aria-labelledby="dropdownLargeButton">
                                        <li>
                                            <a href="#"
                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                                        </li>
                                    </ul>
                                    <div class="py-1">
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                                            out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="/bluesim/"
                       type="button"
                       class="me-2 text-white border-solid border border-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center">
                        Try BlueOS
                    </a>
                    <a href="http://app.blueos.cloud"
                       type="button"
                       class="text-white border-solid border border-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center">
                        Cloud <span class="inline iconify h-4 w-4" data-icon="mdi-cloud-key-outline"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="mega-menu-full-image-dropdown"
         class="bg-gray-50 hidden  relative z-50">
        <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500 dark:text-gray-400 md:grid-cols-4 md:px-6 z-50">
            <ul class="hidden mb-4 space-y-4 md:mb-0 md:block" aria-labelledby="mega-menu-full-image-button">
                <li>
                    <a href="/blueos/" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500 font-bold">
                        BlueOS
                    </a>
                </li>
                <li>
                    <a href="/blueos/1.2/installation" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Installation
                    </a>
                </li>
                <li>
                    <a href="/blueos/1.2/getting-started/" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Getting Started
                    </a>
                </li>
                <li>
                    <a href="/blueos/1.2/advanced-usage/" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Advanced Usage
                    </a>
                </li>
            </ul>
            <ul class="mb-4 space-y-4 md:mb-0">
                <li>
                    <a href="/hardware/" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500 font-bold">
                        Hardware
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Required Hardware
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Recommended Extra Hardware
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Additional Components and Peripheral Devices
                    </a>
                </li>
            </ul>
            <ul class="mb-4 space-y-4 md:mb-0">
                <li>
                    <a href="/extensions" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500 font-bold">
                        Extensions
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Creating extensions
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        Cockpit
                    </a>
                </li>
            </ul>
            <a href="#"
               class="p-8 bg-local bg-gray-500 bg-center bg-no-repeat bg-cover rounded-lg bg-blend-multiply hover:bg-blend-soft-light dark:hover:bg-blend-darken"
               style="background-image: url('https://blueos.cloud/docs/blueos/1.2/advanced-usage/interface-overview.png')">
                <p class="max-w-xl mb-5 font-extrabold leading-tight tracking-tight text-white">Preview the new BlueOS
                    Cloud.</p>
                <button type="button"
                        class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-700">
                    Get started
                    <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </button>
            </a>
        </div>
    </div>

</nav>