<nav class=" border-b-0 border-gray-200 top-0 start-0 z-40 fixed w-full">
    <div class="w-full bg-primary px-4 py-1.5">
        <div class="container mx-auto ">
            <div class="flex flex-wrap justify-between items-center">
                <div class="flex justify-start items-center">
                    <a href="{{ config.extra.logo.redirect_to | default(value=config.base_url | safe) }}" class="flex mr-4">
                        <img src="{{ config.extra.logo.image_source | default(value=config.base_url ~ "/logo.png") }}"
                             class="mr-3 h-10"
                             alt="Software Logo"/>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white"></span>
                    </a>
                    {% if config.extra.version_choices %}
                        {% include "version_selector.html" %}
                    {% endif %}

                </div>
                <div class="flex"></div>
                <div class="flex items-center lg:order-2">
                    <div class="w-full md:block md:w-auto me-10" id="navbar-dropdown">
                        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 text-white">
                            {% if config.extra.navbar %}{% for dropdown in config.extra.navbar %}
                            <li>
                                <button id="mega-menu-{{ dropdown.name | lower }}"
                                        data-dropdown-toggle="mega-menu-{{ dropdown.name | lower }}-content"
                                        data-dropdown-trigger="hover"
                                        data-dropdown-delay="100"
                                        class="flex items-center justify-between w-full py-2 px-3 rounded hover:bg-secondary md:hover:bg-transparent md:border-0 md:hover:text-secondary md:p-0 md:w-auto">
                                    {{ dropdown.name }}
                                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="m1 1 4 4 4-4"/>
                                    </svg>
                                </button>
                            </li>
                            {% endfor %}{% endif %}
                        </ul>
                    </div>
                    <a href="/bluesim/"
                       type="button"
                       class="me-2 text-white border-solid border border-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm hover:bg-secondary md:hover:bg-transparent md:hover:text-secondary md:hover:border-secondary px-2 py-1 text-center">
                        Try BlueOS
                    </a>
                    <a href="http://app.blueos.cloud"
                       type="button"
                       class="hidden text-white border-solid border border-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center">
                        Cloud <span class="inline iconify h-4 w-4" data-icon="mdi-cloud-key-outline"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if config.extra.navbar %}{% for dropdown in config.extra.navbar %}
    <!-- {{ dropdown.name }} Megamenu content -->
    <!-- -->
    <div id="mega-menu-{{ dropdown.name | lower }}-content"
         class="hidden relative z-50 w-full megamenu">
        <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-white dark:text-gray-400 md:grid-cols-4 md:px-6 z-50">
            {% set num_cols = dropdown.columns | length %}
            {% set columns = dropdown.columns %}
            {% if num_cols < 4 %}{% set columns = range(end=(4 - num_cols)) | concat(with=columns) %}{% endif %}
            {% for column in columns %}
            <ul class="{% if loop.first %}{% if num_cols < 4 %}hidden {% endif %}md:block {% endif %}mb-4 space-y-2 md:mb-0"{% if loop.first %} aria-labelledby="mega-menu-full-image-button"{% endif %}>
            {% if not column.heading %}</ul>{% continue %}{% endif %}
                <li>
                    <span class="text-quaternary text-lg font-bold">
                        {{ column.heading }}
                    </span>
                </li>
                {% for link in column.links %}
                <li>
                    <a href="{{ link.href }}" class="hover:underline hover:text-quaternary">
                        {{ link.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endfor %}{% endif %}
</nav>
