<select id="version_selector" base_url="{{config.base_url}}"
        onchange="select_version(this)"
        class="w-32 mt-1 bg-blue-mariner border border-transparent text-white text-sm rounded-xl focus:ring-transparent focus:border-transparent block">
</select>

<script>
    function select_version(e) {
        const redirect_path = e.options[e.selectedIndex].value
        const redirect_parts = redirect_path.split("/")

        // If the redirect path comes with a trailing slash, we need account it when removing the parts since the split
        // will include an extra (blank) element.
        const offset = redirect_path.endsWith("/") ? 1 : 0

        let split_path = window.location.pathname.split("/")
        split_path.splice(0,redirect_parts.length - offset)

        window.location = redirect_path + split_path.join("/")
    }

    function fetch_version_list(data){
        const select = document.getElementById('version_selector');
        const base_url = select.getAttribute("base_url")

        data.forEach(function(entry){
            const opt = document.createElement('option');

            if (base_url.includes(entry[0])) {
                opt.setAttribute('selected', true);
            }

            opt.value = entry[0];
            opt.innerHTML = entry[1];
            select.appendChild(opt);
        })
    }
</script>

<script src="{{config.extra.version_choices}}"></script>